html {
  margin: 0px;
}

body {

  background-color: teal;
  padding: 1%;
  font-family: avenir, arial;
  color: burlywood;
  box-sizing: inherit;

}

.button1 {

  background-color: chocolate;
  border: none;
  border-radius: 8px;
  font-family: Avenir, Arial;
  color: chartreuse;

}

.button1:hover {

  font-weight: bolder;
  background-color: maroon;
  transform: scale(1.1);
  border-radius: 12px solid black;

}