html{
    margin: 0px;
}

body{

    background-color: teal;
    padding: 1%;
    font-family: avenir, arial;
    color: burlywood;
    box-sizing: inherit;

}
.button{

    background-color: #ffffff00; /* none */
    border: none;
    color: rgba(255, 255, 255, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: 'Courier New';
    z-index: 1;
    
  }
  
  .button1 {
    font-weight: 600;
    color: rgb(0, 0, 0);
    float: left;
    margin-top: 2%;
    }
  
  .button1:hover {
    font-weight:bolder;
    color: aqua;
    transform: scale(1.3);
    border-radius: 12px solid black;
  }