html{
    margin: 0px;
}

body{

    background-color: teal;
    padding: 1%;
    font-family: avenir, arial;
    color: burlywood;
    box-sizing: inherit;

}

  
  .button1:hover {

    font-weight:bolder;
    color: aqua;
    transform: scale(1.1);
    border-radius: 12px solid black;

  }